@tailwind base;
@tailwind components;
@tailwind utilities;

body > #root {
    min-height: 100vh;
}

.custom-animate-bounce {
    animation: bounce 3s 1;
}

#kb > div >  button {
  width: 2rem;
  height: 3.5rem;
  background: #d3d6da;
  border-radius: 0.5rem;
  text-transform: uppercase;
  transition: all;
}

@keyframes bounce {
  0% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  25% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    transform: translateY(-10%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  70% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  85% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.custom-animate-drop {
  animation: drop 0.5s 1;
}

@keyframes drop {
  0% {
    transform: scale(10);
  }
  100% {
    transform: scale(1);
  }
}